<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Icon -->
		<link
		rel="shortcut icon" href="{{ asset('assets/img/voyage-en-voiture.png') }}" type="image/x-icon">

		<!-- Feuilles de styles -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}"> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/theme.css')}}">
		<!-- Fichiers Javascript -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}} " defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js')}} " defer></script>
	</head>
	<body>
		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
